<html>
<style>
body {
	margin: 20px;
	padding: 0;
	font-size: 12px;
	font-family: bitstream vera sans, verdana, arial, sans serif;
	background-color: #efefef;
}

table {	
	border-collapse: collapse;
	/*border-spacing: 0;*/
	border: 1px solid #666;
	background-color: #fff;
	margin-bottom: 20px;
}

table, th, th+th, td, td+td  {
	border: 1px solid #ccc;
}

table th {
	font-size: 12px;
	color: #fc0;
	padding: 4px 0;
	background-color: #336;
}

th, td {
	padding: 4px 10px;
}

td {	
	font-size: 13px;
}

.class_name {
	font-size: 17px;
	margin: 20px 0 0;
}

.class_complexity {
margin: 0 auto;
}

.class_complexity>.class_complexity {
	margin: 0;
}

.class_total_complexity, .class_total_lines, .start_token_count, .file_count {
	font-size: 13px;
	font-weight: bold;
}

.class_total_complexity, .class_total_lines {
	color: #c00;
}

.start_token_count, .file_count {
	color: #333;
}

.warning {
	background-color: yellow;
}

.error {
	background-color: #f00;
}
</style>
<body>
<div class="start_token_count">
Number of files: 1
</div>
<div class="file_count">
<p class="file_name">
File: app/views/registrations/scouts.html.erb
</p>
<table width="100%" border="1">
<tr><th>Line</th><th>Tokens</th></tr>
<tr><td>10</td><td>12</td></tr>
<tr><td>13</td><td>19</td></tr>
<tr><td>14</td><td>23</td></tr>
<tr><td>18</td><td class="error">48</td></tr>
<tr><td>21</td><td class="error">29</td></tr>
<tr><td>23</td><td>10</td></tr>
<tr><td>30</td><td class="error">42</td></tr>
<tr><td>33</td><td>19</td></tr>
<tr><td>34</td><td class="error">25</td></tr>
<tr><td>38</td><td class="error">42</td></tr>
<tr><td>41</td><td class="error">42</td></tr>
<tr><td>44</td><td class="error">42</td></tr>
<tr><td>47</td><td class="error">42</td></tr>
<tr><td>50</td><td class="error">31</td></tr>
<tr><td>53</td><td class="error">52</td></tr>
<tr><td>56</td><td class="error">39</td></tr>
<tr><td>59</td><td class="error">39</td></tr>
<tr><td>62</td><td class="error">39</td></tr>
<tr><td>65</td><td class="error">39</td></tr>
<tr><td>68</td><td class="error">39</td></tr>
<tr><td>71</td><td class="error">39</td></tr>
<tr><td>79</td><td class="error">42</td></tr>
<tr><td>82</td><td class="error">51</td></tr>
<tr><td>85</td><td class="error">67</td></tr>
<tr><td>88</td><td class="error">39</td></tr>
<tr><td>91</td><td class="error">51</td></tr>
<tr><td>94</td><td class="error">42</td></tr>
<tr><td>97</td><td class="error">51</td></tr>
<tr><td>105</td><td class="error">42</td></tr>
<tr><td>108</td><td class="error">51</td></tr>
<tr><td>111</td><td class="error">39</td></tr>
<tr><td>114</td><td class="error">39</td></tr>
<tr><td>117</td><td class="error">51</td></tr>
<tr><td>120</td><td class="error">51</td></tr>
<tr><td>123</td><td class="error">67</td></tr>
<tr><td>139</td><td>19</td></tr>
<tr><td>142</td><td class="error">43</td></tr>
<tr><td>148</td><td class="error">29</td></tr>
<tr><td>150</td><td>10</td></tr>
<tr><td>157</td><td>22</td></tr>
<tr><td>160</td><td class="error">37</td></tr>
<tr><td>171</td><td>19</td></tr>
<tr><td>174</td><td class="error">37</td></tr>
<tr><td>180</td><td class="error">29</td></tr>
<tr><td>182</td><td>10</td></tr>
<tr><td>189</td><td>22</td></tr>
<tr><td>192</td><td class="error">37</td></tr>
<tr><td>203</td><td>19</td></tr>
<tr><td>206</td><td class="error">37</td></tr>
<tr><td>212</td><td class="error">29</td></tr>
<tr><td>214</td><td>10</td></tr>
<tr><td>221</td><td>22</td></tr>
<tr><td>224</td><td class="error">37</td></tr>
<tr><td>235</td><td>19</td></tr>
<tr><td>238</td><td class="error">37</td></tr>
<tr><td>244</td><td class="error">29</td></tr>
<tr><td>246</td><td>10</td></tr>
<tr><td>253</td><td>22</td></tr>
<tr><td>256</td><td class="error">37</td></tr>
<tr><td>267</td><td>19</td></tr>
<tr><td>270</td><td class="error">37</td></tr>
<tr><td>276</td><td class="error">29</td></tr>
<tr><td>278</td><td>10</td></tr>
<tr><td>285</td><td>22</td></tr>
<tr><td>288</td><td class="error">37</td></tr>
<tr><td>299</td><td>19</td></tr>
<tr><td>302</td><td class="error">37</td></tr>
<tr><td>308</td><td class="error">29</td></tr>
<tr><td>310</td><td>10</td></tr>
<tr><td>317</td><td>22</td></tr>
<tr><td>320</td><td class="error">37</td></tr>
<tr><td>331</td><td>19</td></tr>
<tr><td>334</td><td class="error">37</td></tr>
<tr><td>340</td><td class="error">29</td></tr>
<tr><td>342</td><td>10</td></tr>
<tr><td>349</td><td>22</td></tr>
<tr><td>352</td><td class="error">37</td></tr>
<tr><td>363</td><td>19</td></tr>
<tr><td>366</td><td class="error">37</td></tr>
<tr><td>372</td><td class="error">29</td></tr>
<tr><td>374</td><td>10</td></tr>
<tr><td>381</td><td>22</td></tr>
<tr><td>384</td><td class="error">37</td></tr>
<tr><td>395</td><td>19</td></tr>
<tr><td>398</td><td class="error">37</td></tr>
<tr><td>404</td><td class="error">29</td></tr>
<tr><td>406</td><td>10</td></tr>
<tr><td>413</td><td>22</td></tr>
<tr><td>416</td><td class="error">37</td></tr>
<tr><td>427</td><td>19</td></tr>
<tr><td>430</td><td class="error">37</td></tr>
<tr><td>436</td><td class="error">29</td></tr>
<tr><td>438</td><td>10</td></tr>
<tr><td>445</td><td>22</td></tr>
<tr><td>448</td><td class="error">37</td></tr>
<tr><td>459</td><td>19</td></tr>
<tr><td>462</td><td class="error">37</td></tr>
<tr><td>468</td><td class="error">29</td></tr>
<tr><td>470</td><td>10</td></tr>
<tr><td>477</td><td>22</td></tr>
<tr><td>480</td><td class="error">37</td></tr>
<tr><td>498</td><td>19</td></tr>
<tr><td>499</td><td>24</td></tr>
<tr><td>503</td><td class="error">29</td></tr>
<tr><td>505</td><td>10</td></tr>
<tr><td>512</td><td>24</td></tr>
<tr><td>515</td><td class="error">37</td></tr>
<tr><td>521</td><td class="error">29</td></tr>
<tr><td>523</td><td>10</td></tr>
<tr><td>530</td><td>19</td></tr>
<tr><td>531</td><td>24</td></tr>
<tr><td>535</td><td class="error">29</td></tr>
<tr><td>537</td><td>10</td></tr>
<tr><td>544</td><td>24</td></tr>
<tr><td>547</td><td class="error">37</td></tr>
<tr><td>553</td><td class="error">29</td></tr>
<tr><td>555</td><td>10</td></tr>
<tr><td>560</td><td>19</td></tr>
<tr><td>561</td><td>24</td></tr>
<tr><td>565</td><td class="error">29</td></tr>
<tr><td>567</td><td>10</td></tr>
<tr><td>574</td><td>24</td></tr>
<tr><td>577</td><td class="error">37</td></tr>
<tr><td>583</td><td class="error">29</td></tr>
<tr><td>585</td><td>10</td></tr>
<tr><td>592</td><td>19</td></tr>
<tr><td>593</td><td>24</td></tr>
<tr><td>597</td><td class="error">29</td></tr>
<tr><td>599</td><td>10</td></tr>
<tr><td>606</td><td>24</td></tr>
<tr><td>609</td><td class="error">37</td></tr>
<tr><td>615</td><td class="error">29</td></tr>
<tr><td>617</td><td>10</td></tr>
<tr><td>624</td><td>19</td></tr>
<tr><td>625</td><td>24</td></tr>
<tr><td>629</td><td class="error">29</td></tr>
<tr><td>631</td><td>10</td></tr>
<tr><td>638</td><td>24</td></tr>
<tr><td>641</td><td class="error">37</td></tr>
<tr><td>647</td><td class="error">29</td></tr>
<tr><td>649</td><td>10</td></tr>
<tr><td>656</td><td>19</td></tr>
<tr><td>657</td><td>24</td></tr>
<tr><td>661</td><td class="error">29</td></tr>
<tr><td>663</td><td>10</td></tr>
<tr><td>670</td><td>24</td></tr>
<tr><td>673</td><td class="error">37</td></tr>
<tr><td>679</td><td class="error">29</td></tr>
<tr><td>681</td><td>10</td></tr>
<tr><td>688</td><td>19</td></tr>
<tr><td>689</td><td>24</td></tr>
<tr><td>693</td><td class="error">29</td></tr>
<tr><td>695</td><td>10</td></tr>
<tr><td>702</td><td>24</td></tr>
<tr><td>705</td><td class="error">37</td></tr>
<tr><td>711</td><td class="error">29</td></tr>
<tr><td>713</td><td>10</td></tr>
<tr><td>720</td><td>19</td></tr>
<tr><td>721</td><td>24</td></tr>
<tr><td>725</td><td class="error">29</td></tr>
<tr><td>727</td><td>10</td></tr>
<tr><td>734</td><td>24</td></tr>
<tr><td>737</td><td class="error">37</td></tr>
<tr><td>743</td><td class="error">29</td></tr>
<tr><td>745</td><td>10</td></tr>
<tr><td>752</td><td>19</td></tr>
<tr><td>753</td><td>24</td></tr>
<tr><td>757</td><td class="error">29</td></tr>
<tr><td>759</td><td>10</td></tr>
<tr><td>766</td><td>24</td></tr>
<tr><td>769</td><td class="error">37</td></tr>
<tr><td>775</td><td class="error">29</td></tr>
<tr><td>777</td><td>10</td></tr>
<tr><td>784</td><td>19</td></tr>
<tr><td>785</td><td>24</td></tr>
<tr><td>789</td><td class="error">29</td></tr>
<tr><td>791</td><td>10</td></tr>
<tr><td>798</td><td>24</td></tr>
<tr><td>801</td><td class="error">37</td></tr>
<tr><td>807</td><td class="error">29</td></tr>
<tr><td>809</td><td>10</td></tr>
<tr><td>816</td><td>19</td></tr>
<tr><td>817</td><td class="error">27</td></tr>
<tr><td>821</td><td class="error">29</td></tr>
<tr><td>823</td><td>10</td></tr>
<tr><td>830</td><td>24</td></tr>
<tr><td>833</td><td class="error">37</td></tr>
<tr><td>839</td><td class="error">29</td></tr>
<tr><td>841</td><td>10</td></tr>
<tr><td>863</td><td class="error">42</td></tr>
<tr><td>871</td><td class="error">25</td></tr>
<tr><td>874</td><td class="error">31</td></tr>
<tr><td>880</td><td class="error">43</td></tr>
<tr><td>883</td><td class="error">39</td></tr>
<tr><td>886</td><td class="error">29</td></tr>
<tr><td>888</td><td>10</td></tr>
<tr><td>895</td><td class="error">41</td></tr>
<tr><td>898</td><td class="error">42</td></tr>
<tr><td>901</td><td class="error">43</td></tr>
<tr><td>904</td><td>19</td></tr>
<tr><td>905</td><td class="error">27</td></tr>
<tr><td>909</td><td class="error">29</td></tr>
<tr><td>911</td><td>10</td></tr>
<tr><td>918</td><td>19</td></tr>
<tr><td>921</td><td class="error">31</td></tr>
<tr><td>927</td><td>11</td></tr>
<tr><td>930</td><td class="error">31</td></tr>
<tr><td>936</td><td class="error">29</td></tr>
<tr><td>938</td><td>10</td></tr>
<tr><td>945</td><td>21</td></tr>
<tr><td>948</td><td class="error">31</td></tr>
<tr><td>954</td><td class="error">29</td></tr>
<tr><td>956</td><td>10</td></tr>
<tr><td>963</td><td>20</td></tr>
<tr><td>966</td><td class="error">31</td></tr>
<tr><td>972</td><td class="error">29</td></tr>
<tr><td>974</td><td>10</td></tr>
<tr><td>981</td><td class="error">51</td></tr>
<tr><td>989</td><td>22</td></tr>
<tr><td>992</td><td class="error">31</td></tr>
<tr><td>998</td><td class="error">29</td></tr>
<tr><td>1000</td><td>10</td></tr>
<tr><td>1007</td><td>20</td></tr>
<tr><td>1010</td><td class="error">31</td></tr>
<tr><td>1016</td><td class="error">29</td></tr>
<tr><td>1018</td><td>10</td></tr>
<tr><td>1025</td><td>19</td></tr>
<tr><td>1028</td><td class="error">31</td></tr>
<tr><td>1034</td><td class="error">29</td></tr>
<tr><td>1036</td><td>10</td></tr>
<tr><td>1043</td><td>20</td></tr>
<tr><td>1046</td><td class="error">31</td></tr>
<tr><td>1052</td><td class="error">29</td></tr>
<tr><td>1054</td><td>10</td></tr>
<tr><td>1061</td><td class="error">51</td></tr>
<tr><td>1069</td><td>24</td></tr>
<tr><td>1072</td><td class="error">31</td></tr>
<tr><td>1078</td><td class="error">29</td></tr>
<tr><td>1080</td><td>10</td></tr>
<tr><td>1087</td><td>22</td></tr>
<tr><td>1090</td><td class="error">31</td></tr>
<tr><td>1096</td><td class="error">29</td></tr>
<tr><td>1098</td><td>10</td></tr>
<tr><td>1105</td><td>19</td></tr>
<tr><td>1108</td><td class="error">31</td></tr>
<tr><td>1114</td><td class="error">29</td></tr>
<tr><td>1116</td><td>10</td></tr>
<tr><td>1123</td><td>19</td></tr>
<tr><td>1126</td><td class="error">31</td></tr>
<tr><td>1132</td><td class="error">29</td></tr>
<tr><td>1134</td><td>10</td></tr>
<tr><td>1141</td><td class="error">45</td></tr>
<tr><td>1144</td><td class="error">53</td></tr>
<tr><td>1147</td><td>19</td></tr>
<tr><td>1148</td><td>23</td></tr>
<tr><td>1152</td><td class="error">54</td></tr>
<tr><td>1155</td><td class="error">39</td></tr>
<tr><td>1158</td><td class="error">39</td></tr>
<tr><td>1166</td><td class="error">42</td></tr>
<tr><td>1169</td><td class="error">42</td></tr>
<tr><td>1172</td><td class="error">26</td></tr>
<tr><td>1175</td><td>16</td></tr>
<tr><td>1178</td><td>16</td></tr>
<tr><td>1186</td><td>16</td></tr>
<tr><td>1198</td><td class="error">93</td></tr>
<tr><td>1202</td><td class="error">29</td></tr>
<tr><td>1204</td><td>10</td></tr>
<tr><td>1211</td><td class="error">50</td></tr>
<tr><td>1214</td><td class="error">31</td></tr>
<tr><td>1220</td><td class="error">29</td></tr>
<tr><td>1222</td><td>10</td></tr>
<tr><td>1229</td><td class="error">48</td></tr>
<tr><td>1232</td><td class="error">31</td></tr>
<tr><td>1243</td><td class="error">42</td></tr>
<tr><td>1246</td><td class="error">31</td></tr>
<tr><td>1257</td><td class="error">50</td></tr>
<tr><td>1291</td><td>16</td></tr>
<tr><td>1294</td><td>16</td></tr>
<tr><td>1300</td><td class="error">36</td></tr>
<tr><td>1303</td><td>16</td></tr>
<tr><td>1314</td><td>16</td></tr>
<tr><td>1317</td><td>16</td></tr>
<tr><td>1323</td><td class="error">36</td></tr>
<tr><td>1326</td><td>16</td></tr>
<tr><td>1341</td><td class="error">207</td></tr>
</table>
</body>
</html>
